langchain
langchain-community
langgraph
langchain-openai
langchain-groq
langchain-google-genai
python-dotenv
langgraph-checkpoint-postgres
psycopg[binary,pool]
langchain-core
pydantic
langchain-chroma
chromadb
ragas
pandas
scikit-learn
fastapi
uvicorn
langchain-huggingface 
sentence-transformers